body {
    background-color: whitesmoke;
    color: black;
}

footer {
    color: whitesmoke;
    text-align: center;
}

.emphasis {
    font-style: italic;
}

.link1 {
    color: white;
    font-family: Arial, Helvetica, SansSerif;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}
